body {
    background: red;
    color: white;
}

#clickDiv {
    border: 2px solid white;
    width: 300px;
    height: 60px;
    cursor: pointer;
}

input[name="range1"] {
    width: 200px;
}

input[name="range2"] {
    width: 400px;
}

#root {
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.panel {
    width: 50%;
    height: 100%;
    float: left;
    margin: 0;
}

#panel1 {
    background: green;
}

#panel2 {
    background: blue;
}

.newdiv {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: red;
}